node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.deno
.tmp
.temp
.cache
.next
dist
coverage
.DS_Store
.env
.env.*
!.env.example
.eslintcache
*.tsbuildinfo
.idea
.vscode
*.tgz
!**/local-packages/*.tgz
.secrets
.envrc
.direnv
